body	{
	color: #FFFFFF;
	background-color: #2f2f2f;
	font-family: Calibri;
}

.logo {
	max-width: 50px;
	max-height: 80px;
	background-color: white;
	color: black;
}

header {
	color: black;
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	justify-content: space-between;
}

nav {
	margin-right: 100px;
}

ul:not([class]) {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


li:has(#navigation) {
	float: left;
}

#navigation {
	display: block;
	padding: 8px;
}

#Große-überschrift{
	padding-top: 35px;
	text-align: center;
}

#kleine-überschrift-1{
	text-align: center;
}

a {
	color: #ff0000;
}

a:hover {
	color: #6666ff;
}

.text{
	text-align: center;
}